@page "/learnBlazor/demoProduct"

<h2 class="text-primary">DemoProduct</h2>
@foreach(var Product in Products)
{
    <div class="big-light border p-2 m-1 col-5">
        <h4 class="text-secondary">Product-@Product.Id</h4>
        Name: @Product.Name<br />
        Show Properties:
        <input type="checkbox" @bind-value="@Product.IsActive" checked="@(Product.IsActive?"checked":null)" />
        @if (Product.IsActive)
        {
            @foreach(var prop in Product.ProductProperties)
            {
                <p>@prop.Key : @prop.Value</p>
            }
        }
        <br />
        <input type="button" class="btn btn-danger" style="width: 100px;" value="Delete" />
        <input type="button" class="btn btn-success" style="width: 100px;" value="Edit" />

    </div>
}

@code {
    List<Demo_Product> Products = new();

    protected override void OnInitialized()
    {
        Products.Add(new()
            {
                Id = 1,
                Name = "Midnight Blaze",
                IsActive = false,

                Price = 10.99,
                ProductProperties = new()
                {
                    new Demo_ProductProp { Id = 1, Key = "Flavor", Value = "Rose"},
                    new Demo_ProductProp { Id = 2, Key = "Size", Value = "20oz"},
                    new Demo_ProductProp { Id = 3, Key = "Color", Value="Purple" }
                }
            });

        Products.Add(new()
            {
                Id = 2,
                Name = "Blossom Lily",
                IsActive = true,
                Price = 13.99,
                ProductProperties = new()
            {
                new Demo_ProductProp { Id = 1, Key = "Flavor", Value = "Lily" },
                new Demo_ProductProp { Id = 2, Key = "Size", Value = "18oz" },
                new Demo_ProductProp {Id = 3,Key = "Color",Value = "White"}
            }
            });
    }
}
